@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
/* TO -DO
800px
- Hamburger menu
- Fix header overflow
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #3500D3;
  --secondary-color: #0C0032;
  --tertiary-color: #282828;
  --text-color: #FFFFFF;
  --hover-color: #FF10F0;
}

body {
  font-family: 'Orbitron', sans-serif;
  background-color: #000000;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header styling */
header {
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: var(--tertiary-color);
}

#business-title {
  margin-right: auto;
  padding-left: 1.5rem;
}

ul {
  margin-left: auto;
  list-style-type: none;
}

ul > li {
  display: inline-block;
  padding: 1.5em 1.5em;
}

a, a:visited {
  color: var(--text-color);
  text-decoration: none;
}

a:hover, button:hover {
  color: var(--hover-color);
  transition: 0.4s;
  cursor: pointer;
}

input, button {
  font-family: 'Orbitron', sans-serif;
}

/* Cart layout */
.shopping-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Item styling */
.item {
  margin-top: 2rem;
  display: block;
  background-color: var(--tertiary-color);
  height: fit-content;
  width: fit-content;
  padding-bottom: 1rem;
}

.item img {
  width: 100%;
  height: 100%;
}

.item span {
  width: 100%;
  display: block;
  line-height: 1.5rem;
}

/* Add/delete item styling */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.item input {
  width: 2rem;
  text-align: center;
  margin-bottom: .5rem;
}

.add {
  display: block;
  margin: 0 auto;
}