@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #3500D3;
  --secondary-color: #0C0032;
  --tertiary-color: #282828;
  --text-color: #FFFFFF;
  --hover-color: #FF10F0;
}

body {
  font-family: 'Orbitron', sans-serif;
  background-color: #000000;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header styling */
header {
  height: fit-content;
  display: flex;
  justify-content: space-around;
  background-color: var(--tertiary-color);
}

#business-title, ul {
  margin: auto;
}

ul {
  list-style-type: none;
}

ul > li {
  display: inline-block;
  padding: 1.5em 1.5em;
}

a, a:visited {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
}